<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

   <display-name>Demo servlet2.x</display-name>

   <!-- Spring -->
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/*-config.xml</param-value>
   </context-param>

   <!-- Spring MVC servlet definition -->
   <servlet>
      <servlet-name>mainController</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/spring/*-config.xml</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <!-- Spring MVC servlet mapping -->
   <servlet-mapping>
      <servlet-name>mainController</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>

   <!-- DataTables4j servlet definition -->
   <servlet>
      <servlet-name>datatablesController</servlet-name>
      <servlet-class>com.github.dandelion.datatables.extras.servlet2.servlet.DatatablesServlet</servlet-class>
   </servlet>

   <!-- DataTables4j servlet mapping -->
   <servlet-mapping>
      <servlet-name>datatablesController</servlet-name>
      <url-pattern>/datatablesController/*</url-pattern>
   </servlet-mapping>

   <!-- DataTables4j filter definition -->
   <filter>
      <filter-name>datatablesFilter</filter-name>
      <filter-class>com.github.dandelion.datatables.extras.servlet2.filter.DatatablesFilter</filter-class>
   </filter>

   <!-- DataTables4j filter mapping -->
   <filter-mapping>
      <filter-name>datatablesFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
</web-app>