<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
      
<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">

      <div class="row-fluid row-intro">
         <div class="span12">
            <h3>Enable/disable global filtering</h3>
            <p>In this example, the global filtering is disable. As a consequence, the filtering box
               is not shown.</p>
         </div>
      </div>

      <table id="myTableId" dt:table="true" dt:filterable="false" class="display">
         <thead>
            <tr>
               <th>Id</th>
               <th dt:filterable="true" dt:filtertype="select" dt:selector="#firstNameFilter">Firstname</th>
               <th dt:filterable="true" dt:selector="#lastNameFilter">Lastname</th>
               <th dt:filterable="true" dt:selector="#cityFilter">City</th>
               <th>Mail</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="person : ${persons}">
               <td th:text="${person?.id}">1</td>
               <td th:text="${person?.firstName}">John</td>
               <td th:text="${person?.lastName}">Doe</td>
               <td th:text="${person?.address?.town?.name}">Nobody knows!</td>
               <td th:text="${person?.mail}">john@doe.com</td>
            </tr>
         </tbody>
      </table>

   </div>
</body>
</html>