<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">
   
      <div class="row-fluid row-intro">
         <div class="span12">
            <h3>Filtering using drop-down lists of predefined values</h3>
            <p>
               In this sample, the drop-down list used for filtering has been populated with
               predefined values.
            </p>
            <p>
               Note that we accessed the Javascript array of predefined values with the special
               syntax:
               <code>bundleName#javascriptObject</code>
               .
            </p>
         </div>
      </div>

      <table id="myTableId" dt:table="true" class="display">
         <thead>
            <tr>
               <th>Id</th>
               <th>Firstname</th>
               <th>Lastname</th>
               <th dt:filterable="true" dt:filTertype="select" dt:filterValues="app-filtering#myPredefinedValues">City</th>
               <th>Mail</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="person : ${persons}">
               <td th:text="${person?.id}">1</td>
               <td th:text="${person?.firstName}">John</td>
               <td th:text="${person?.lastName}">Doe</td>
               <td th:text="${person?.address?.town?.name}">Nobody knows!</td>
               <td th:text="${person?.mail}">john@doe.com</td>
            </tr>
         </tbody>
      </table>
      
   </div>
</body>
</html>