<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ddl="http://www.thymeleaf.org/dandelion">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">
      <div class="row-fluid">
         <div class="span12">
            <h2 class="section-title">Asset graph viewer</h2>
            <p>At any time during the development, for debugging purposes, you can visualize the
               asset graph of a request. You will be able to see all the active bundles for the
               current request and how assets are injected into the page.</p>
            <p>
               Just manually add the <code>showGraph</code> parameter to the URL.
            </p>
            <p class="text-center">
               <a href="?showGraph" class="btn btn-large btn-primary">Try with this page</a>
            </p>
            <p>
               Feel free to test it in all other pages of this sample application!
            </p>
         </div>
      </div>
   </div>
</body>
</html>