<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org" 
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:assets-scopes="sample,bootstrap2">

<head>
   <title>datatables-thymeleaf-themes</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   <a href="https://github.com/dandelion/dandelion-samples">
      <img style="position: fixed; top: 0; left: 0; border: 0; z-index: 1500;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub"/>
   </a>
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
               <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </a> 
            <a class="brand" th:href="@{/}">datatables-thymeleaf-themes</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
               <ul class="nav">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bootstrap 2 <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a th:href="@{/bootstrap2/bootstrap2-activation}">Bootstrap 2 activation</a></li>
                        <li><a th:href="@{/bootstrap2/bootstrap2-responsive}">Bootstrap 2 responsive</a></li>
                        <li><a th:href="@{/bootstrap2/tablecloth-dark}">Tablecloth - Dark</a></li>
                        <li><a th:href="@{/bootstrap2/tablecloth-stats}">Tablecloth - Stats</a></li>
                        <li><a th:href="@{/bootstrap2/tablecloth-paper}">Tablecloth - Paper</a></li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bootstrap 3 <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a th:href="@{/bootstrap3/bootstrap3-activation}">Bootstrap 3 activation</a></li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">jQueryUI <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a th:href="@{/jqueryui/theme-roller}">ThemeRoller support</a></li>
                     </ul>
                  </li>
               </ul>
               <ul class="nav pull-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help
                        <b class="caret"></b>
                     </a>
                     <ul class="dropdown-menu">
                        <li><a href="http://dandelion.github.io/datatables">Documentation</a></li>
                        <li><a href="http://dandelion-forum.48353.x6.nabble.com/">Forum</a></li>
                        <li><a href="https://github.com/dandelion/issues/issues">Report an issue</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
      
   <div class="container" tiles:include="body">

   </div>
</body>
</html>