<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">

      <div class="row-fluid row-intro">
         <div class="span12">
            <h3>Basic styling</h3>
            <p>In this example:</p>
            <ul>
               <li>The <strong>City</strong> column is centered using inlined CSS <code>style="text-align:center;"</code>
                  , which update the "th" tag of the column.
               </li>
               <li>All the body cells of the <strong>Mail</strong> column are centered using <code>style="text-align:center;"</code>
                  whereas a CSS class has been applied on the "th" cell using <code>class="myCustomClass"</code>.
               </li>
            </ul>
         </div>
      </div>

      <div class="row-fluid">
         <div class="span12">

            <table id="myTableId" dt:table="true" class="display">
               <thead>
                  <tr>
                     <th>Id</th>
                     <th>Firstname</th>
                     <th>Lastname</th>
                     <th style="text-align:center;">City</th>
                     <th class="myCustomClass">Mail</th>
                  </tr>
               </thead>
               <tbody>
                  <tr th:each="person : ${persons}">
                     <td th:text="${person?.id}">1</td>
                     <td th:text="${person?.firstName}">John</td>
                     <td th:text="${person?.lastName}">Doe</td>
                     <td th:text="${person?.address?.town?.name}" style="text-align:center;">Nobody knows !</td>
                     <td th:text="${person?.mail}" style="text-align:center;">john@doe.com</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</body>
</html>