<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0">

   <display-name>DataTables4j live demo</display-name>

   <!-- Spring -->
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:spring/*.xml</param-value>
   </context-param>

   <!-- Creates the Spring Container shared by all Servlets and Filters -->
   <listener>
      <description>Spring Loader</description>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

   <!-- Spring MVC servlet definition -->
   <servlet>
      <servlet-name>mainServlet</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/spring/setup-*.xml</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <!-- Spring MVC servlet mapping -->
   <servlet-mapping>
      <servlet-name>mainServlet</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>

   <!-- Cloudbees Datasource configuration -->
   <resource-ref>
      <res-ref-name>jdbc/dt4jdb</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
   </resource-ref>
</web-app>