<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
   xmlns:ddl="http://www.thymeleaf.org/dandelion">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">

      <div class="row-fluid row-intro">
         <div class="span12">
            <h3>Filtering on click with an external form</h3>
            <p>In the following example, the filtering form is totally externalized and all
               filtering elements (except the global search field) react to the "Apply filters" and
               "Clear filters" buttons.</p>
            <p>
               Note that Dandelion-Datatables makes use of the <a
                  href="http://datatables.net/plug-ins/api">fnMultiFilter</a> function from the
               DataTables API to perform filtering on multiple columns in just one request.
            </p>
            <p>Finally, note that the "Clear filters" buttons reinitializes both table and
               filtering elements.</p>
         </div>
      </div>
      
      <div class="row-fluid well">
         <div class="span6">
            <div id="firstNameFilter"></div>
            <div id="lastNameFilter"></div>
            <div id="cityFilter"></div>
            <div id="companyFilter"></div>
            Salary: <div id="salaryFilter"></div>
            BirthDate: <div id="birthDateFilter"></div>
         </div>
         <div class="span6">
            <a id="filterButton" class="btn btn-large btn-primary">Apply filters</a>
            <a id="filterClearButton" class="btn btn-large btn-inverse">Clear filters</a>
         </div>
      </div>

      <div class="row-fluid">
         <div class="span12" ddl:assets-scopes="filtering,moment,bootstrap-datepicker">

            <table id="myTableId" dt:table="true" dt:url="@{/ajax/persons}" dt:serverside="true" dt:processing="true" dt:filterplaceholder="none" dt:filterSelector="#filterButton" dt:filterClearSelector="#filterClearButton">
               <thead>
                  <tr>
                     <th dt:property="id" dt:name="id">Id</th>
                     <th dt:property="firstName" dt:name="firstName" dt:filterable="true" dt:selector="#firstNameFilter">Firstname</th>
                     <th dt:property="lastName" dt:name="lastName" dt:filterable="true"  dt:selector="#lastNameFilter">Lastname</th>
                     <th dt:property="address.town.name" dt:name="town" dt:filterable="true" dt:selector="#cityFilter">City</th>
                     <th dt:property="mail" dt:name="mail" dt:renderFunction="mailify">Mail</th>
                     <th dt:property="salary" dt:name="salary" dt:renderFunction="custom-rendering#toCurrency" dt:filterable="true" dt:filterType="number_range" dt:filterCssClass="input-small" dt:selector="#salaryFilter">Salary</th>
                     <th dt:property="birthDate" dt:name="birthDate" dt:renderFunction="custom-rendering#toDate" dt:filterable="true" dt:filterType="date_range" dt:filterDateFormat="yyyy-mm-dd" dt:filterCssClass="input-small" dt:selector="#birthDateFilter">BirthDate</th>
                     <th dt:property="company.name" dt:name="company" dt:filterable="true" dt:filterType="select" dt:filterValues="predefinedValues" dt:selector="#companyFilter">Company</th>
                  </tr>
               </thead>
            </table>
         </div>
      </div>
   </div>
</body>
</html>