<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
   xmlns:ddl="http://www.thymeleaf.org/dandelion">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">

      <div class="row-fluid row-intro">
         <div class="span12">
            <h3>Filtering on click</h3>
            <p>In the following example, any action in the table (global filtering, paging,
               individual column filtering, sorting) will be performed after a delay of 1000ms.</p>
         </div>
      </div>
      
      <div class="row-fluid">
         <div class="span12" ddl:assets-scopes="moment,bootstrap-datepicker">

            <div dt:conf="myTableId">
               <div dt:confType="extrahtml" dt:uid="0" dt:cssStyle="float:right;">
                  <a id="filterButton" value="Filter" class="btn btn-primary">Apply filters</a>
                  &nbsp;
                  <a id="filterClearButton" value="Filter" class="btn btn-inverse">Clear filters</a>
               </div>
            </div>
            
            <table id="myTableId" dt:table="true" dt:url="@{/ajax/persons}" dt:serverside="true" dt:processing="true" dt:dom="l0rtip" dt:filterSelector="#filterButton" dt:filterClearSelector="#filterClearButton" dt:filterPlaceholder="head_before">
               <thead>
                  <tr>
                     <th dt:property="id" dt:name="id">Id</th>
                     <th dt:property="firstName" dt:name="firstName">Firstname</th>
                     <th dt:property="lastName" dt:name="lastName" dt:filterable="true" dt:filterCssClass="input-small">Lastname</th>
                     <th dt:property="address.town.name" dt:name="town" dt:filterable="true" dt:filterCssClass="input-small">City</th>
                     <th dt:property="mail" dt:name="mail" dt:renderFunction="custom-rendering#mailify">Mail</th>
                     <th dt:property="salary" dt:name="salary" dt:renderFunction="custom-rendering#toCurrency" dt:filterable="true" dt:filterType="number_range" dt:filterCssClass="input-small">Salary</th>
                     <th dt:property="birthDate" dt:name="birthDate" dt:renderFunction="custom-rendering#toDate" dt:filterable="true" dt:filterType="date_range" dt:filterDateFormat="yyyy-mm-dd" dt:filterCssClass="input-small">BirthDate</th>
                     <th dt:property="company.name" dt:name="company" dt:filterable="true" dt:filterCssClass="input-small" dt:filterType="select" dt:filterValues="filtering#predefinedValues">Company</th>
                  </tr>
               </thead>
            </table>
         </div>
      </div>
   </div>
</body>
</html>