<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
   layout:decorator="common/layout/mainLayout">

<body>

   <div layout:fragment="sidebar">

      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static;">
         <li><a th:href="@{/advanced/rowid}">Row id</a></li>
         <li><a th:href="@{/advanced/i18n}">I18n with Spring</a></li>
         <li><a th:href="@{/advanced/callbacks}">Using callbacks</a></li>
         <li><a th:href="@{/advanced/configuration-group}">Configuration group</a></li>
         <li><a th:href="@{/advanced/custom-extension}">Custom extension</a></li>
      </ul>

   </div>
</body>
</html>