<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
   layout:decorator="common/layout/mainLayout">

<body>
   <div layout:fragment="sidebar">
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static;">
         <li><a th:href="@{/ajax/ajaxsource}">AJAX source</a></li>
         <li><a th:href="@{/ajax/nullvalue}">Handling null values</a></li>
         <li><a th:href="@{/ajax/serverside}">Server-side processing</a></li>
         <li><a th:href="@{/ajax/pipeliningdata}">Pipelining data</a></li>
         <li><a th:href="@{/ajax/customrendering}">Custom rendering</a></li>
         <li><a th:href="@{/ajax/additionalparameters}">Additional AJAX parameters</a></li>
         <li><a th:href="@{/ajax/customrequest}">Custom AJAX request</a></li>
      </ul>
   </div>
</body>
</html>