<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="common/layout/mainLayout">

<body>
   <div layout:fragment="sidebar">
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static;">
         <li><a th:href="@{/basics/default-configuration}">Default configuration</a></li>
         <li class="dropdown-submenu"><a href="#">Feature enablement</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/basics/feature-enablement/info}">Display table informations</a></li>
               <li><a th:href="@{/basics/feature-enablement/sorting}">Enable/disable sorting</a></li>
               <li><a th:href="@{/basics/feature-enablement/paging}">Enable/disable paging</a></li>
               <li><a th:href="@{/basics/feature-enablement/lengthchanging}">Enable/disable length changing</a></li>
            </ul></li>
         <li class="dropdown-submenu"><a href="#">Sorting</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/basics/sorting/individualcolumnsorting}">Individual column sorting</a></li>
               <li><a th:href="@{/basics/sorting/sortinginit}">Sorting initialization</a></li>
               <li><a th:href="@{/basics/sorting/sortingdirectioncontrol}">Sorting direction control</a></li>
               <li><a th:href="@{/basics/sorting/naturalsort}">Sorting type: natural, date</a></li>
            </ul></li>
         <li class="dropdown-submenu"><a href="#">Filtering</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/basics/filtering/extraform}">Using an extra form</a></li>
               <li><a th:href="@{/basics/filtering/input}">Using input fields</a></li>
               <li><a th:href="@{/basics/filtering/select}">Using a drop-down list</a></li>
               <li><a th:href="@{/basics/filtering/select-with-values}">Using a drop-down list with custom values</a></li>
               <li><a th:href="@{/basics/filtering/filterplaceholder}">Using different filter placeholders</a></li>
            </ul></li>
         <li class="dropdown-submenu"><a href="#">Paging</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/basics/paging/bootstrap}">Bootstrap</a></li>
               <li><a th:href="@{/basics/paging/four_button}">Four button</a></li>
               <li><a th:href="@{/basics/paging/full_numbers}">Full numbers</a></li>
               <li><a th:href="@{/basics/paging/input}">Input</a></li>
               <li><a th:href="@{/basics/paging/listbox}">Listbox</a></li>
               <li><a th:href="@{/basics/paging/scrolling}">Scrolling</a></li>
               <li><a th:href="@{/basics/paging/two_button}">Two button</a></li>
            </ul></li>
         <li><a th:href="@{/basics/appear}">Changing the appearance</a></li>
         <li><a th:href="@{/basics/default-content}">Default content</a></li>
         <li><a th:href="@{/basics/cdn}">Using CDN</a></li>
         <li><a th:href="@{/basics/custom-content}">Custom column content</a></li>
         <li><a th:href="@{/basics/implicit-object}">Using implicit object</a></li>
         <li><a th:href="@{/basics/custom-header}">Custom column head</a></li>
         <li class="dropdown-submenu"><a href="#">Scrolling</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/basics/scrolling/scroll-horizontal}">Horizontal scrolling</a></li>
               <li><a th:href="@{/basics/scrolling/scroll-vertical}">Vertical scrolling</a></li>
            </ul>
         </li>
         <li><a th:href="@{/basics/multiple}">Multiple tables</a></li>
      </ul>
   </div>
</body>
</html>