<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
   layout:decorator="common/layout/mainLayout">

<body>
   <div layout:fragment="sidebar">
      
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static;">
         <li><a th:href="@{/export/export-activation}">Export activation</a></li>
         <li><a th:href="@{/export/multiple-formats}">Export in multiple formats</a></li>
         <li class="dropdown-submenu"><a href="#">Customizing export links</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/export/links/style}">Link style</a></li>
               <li><a th:href="@{/export/links/position}">Link position</a></li>
            </ul>
         </li>
         <li class="dropdown-submenu"><a href="#">Using DOM sources</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/export/dom/filter-based-export}">Filter-based export</a></li>
               <li><a th:href="@{/export/dom/controller-based-export}">Controller-based export</a></li>
               <li><a th:href="@{/export/dom/customizing-column-content}">Customizing column content</a></li>
            </ul>
         </li>
         <li class="dropdown-submenu"><a href="#">Using AJAX sources</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/export/ajax/controller-based-export}">Controller-based export</a></li>
               <li><a th:href="@{/export/ajax/customizing-column-content}">Customizing column content</a></li>
            </ul>
         </li>
         <li class="dropdown-submenu"><a href="#">Export options</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{/export/options/export-file-name}">Export file name</a></li>
               <li><a th:href="@{/export/options/column-auto-sizing}">Column auto-sizing</a></li>
               <li><a th:href="@{/export/options/include-header}">Include header</a></li>
            </ul>
         </li>
      </ul>

   </div>
</body>
</html>