<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="common/layout/mainLayout">

<body>
   <div layout:fragment="sidebar">

      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static;">
         <li><a th:href="@{/plugins/colreorder}">ColReorder</a></li>
         <li><a th:href="@{/plugins/scroller}">Scroller</a></li>
         <li><a th:href="@{/plugins/fixedheader}">FixedHeader</a></li>
      </ul>

   </div>
</body>
</html>