<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">

      <div class="row-fluid row-intro">
         <div class="span12">
            <h3>Export orientation (PDF only)</h3>
            <p>
               By default, PDF are exported in
               <code>landscape</code>
               orientation but you can switch to
               <code>portrait</code>
               if you wish.
            </p>
         </div>
      </div>

      <div class="row-fluid">
         <div class="span12">
            
            <div dt:conf="myTableId">
               <div dt:confType="export" dt:type="pdf" dt:cssClass="btn" dt:url="@{/export.pdf}" dt:orientation="portrait"></div>
            </div>
            
            <table id="myTableId" dt:table="true" dt:url="@{/persons}" dt:serverside="true" dt:processing="true" dt:export="pdf">
               <thead>
                  <tr>
                     <th dt:property="id">Id</th>
                     <th dt:property="firstName">Firstname</th>
                     <th dt:property="lastName">Lastname</th>
                     <th dt:property="address.town.name">City</th>
                     <th dt:property="mail">Mail</th>
                     <th dt:property="birthDate" dt:renderFunction="moment,app-custom-rendering#toDate">Birthdate</th>
                  </tr>
               </thead>
            </table>
            
         </div>
      </div>
   </div>
</body>
</html>