<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
   layout:decorator="common/layout/themeLayout">

<head>
<title>Themes - home</title>
</head>

<body>

   <div layout:fragment="content">

      <div class="row-fluid">
         <div class="span12">
            <h3>
               <i class="icon-magic"></i> Themes
            </h3>
            <hr />
         </div>
      </div>
      <div class="row-fluid">
         <div class="span12">
            <p>Please use the opposite menu to browse the examples.</p>
         </div>
      </div>

   </div>

</body>
</html>