<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
   xmlns:dt="http://www.thymeleaf.org/datatables4jdialect" layout:decorator="common/layout/startLayout">

<body>
   <div layout:fragment="content" th:remove="tag">
      <link th:href="@{/css/index.css}" rel="stylesheet" />
      
      <div class="masthead">
         <h1>Dandelion-Datatables</h1>
         <p>Thymeleaf demo application</p>
      </div>
      
      <div class="row-fluid">
         <div class="span4">
            <i class="icon-leaf icon-3x"></i>
            <h2>Basics</h2>
            <p>Plenty of basic examples: sorting, filtering, paging, how to use implicit objects, CDN option and more!</p>
            <a class="btn" th:href="@{/basics/home}">View details »</a>
         </div>
         <div class="span4">
            <i class="icon-magic icon-3x"></i>
            <h2>Styling</h2>
            <p>See how to easily prettify your tables using embedded themes and others cool stuff!</p>
            <a class="btn" th:href="@{/styling/home}">View details »</a>
         </div>
         <div class="span4">
            <i class="icon-refresh icon-3x"></i>
            <h2>AJAX</h2>
            <p>All AJAX examples: basic AJAX source, server-side, Spring integration...</p>
            <a class="btn" th:href="@{/ajax/home}">View details »</a>
         </div>
      </div>
      
      <div class="row-fluid">
         <div class="span4">
            <i class="icon-file-text-alt icon-3x"></i>
            <h2>Export</h2>
            <p>Export examples: PDF, CSV, XLS, everything about export configuration</p>
            <a class="btn" th:href="@{/export/home}">View details »</a>
         </div>
         <div class="span4">
            <i class="icon-certificate icon-3x"></i>
            <h2>Advanced usage</h2>
            <p>See how to override the default configuration, how to internationalize the table or how to use a web resource compressor</p>
            <a class="btn" th:href="@{/advanced/home}">View details »</a>
         </div>
         <div class="span4">
            <i class="icon-plus icon-3x"></i>
            <h2>Plugins</h2>
            <p>Need to use a DataTables plugin? See how easy it is!</p>
            <a class="btn" th:href="@{/plugins/home}">View details »</a>
         </div>
      </div>

   </div>
</body>
</html>