<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables" 
      ddl:bundle-include="sample,bootstrap2">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>

   <div class="container">
      <div class="row-fluid">
         <div class="span12">Feel free to browse the examples using the navbar!</div>
      </div>
   </div>

</body>
</html>