<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<head th:include="common/head::head" />
<body>
   <div th:replace="common/navbar::navbar"></div>
   <div class="container">
      <div class="row-fluid">
         <div class="span12">
            <h2>Welcome to Dandelion!</h2>
            <p>
               This sample application will guide you to understand the key concepts around Dandelion.
            </p>
            <p>
               Feel free to ask any question / send any feedback using the <a href="http://dandelion-forum.48353.x6.nabble.com/Dandelion-f295.html">forum</a>.
            </p>
         </div>
      </div>
   </div>
</body>
</html>